# macOS
.DS_Store

# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# R Markdown outputs
*_files/
*.html

# Do not version datasets / databases
data/raw/
data/processed/
database/

# Block common big-data formats anywhere
*.csv
*.tab
*.dbf
*.shp
*.shx
*.prj
*.cpg